<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Knjiznica.Properties.Settings.KnjiznicaCS" connectionString="Data Source=CART0603-PC;Initial Catalog=Knjiznica;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>